
body {
  background: #fff4fe;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
h1 {
  margin-top: 30px;
  font-weight: bold;
  text-align: center;
  color: #f8b595;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  color: #f8b595;
}
footer {
  text-align: center;
  margin: 30px 0;
}