.Dictionary section{
    background: white;
    padding: 30px;
    box-shadow: 0px 10px 10px rgba(0 0 0 / 10%);
    margin: 30px 0;
}
.Dictionary h4 {
    font-size: 15px;
    margin-bottom: 15px;
}
.Dictionary input {
    width: 100%;
    padding: 6px 4px;
    border: 1px solid #ddd;
    border-radius: 8px;
    color: #333;
}
.Dictionary .hint {
    font-size: 11px;
    margin-top: 5px;
}